public net.minecraft.world.level.block.entity.BlockEntityType$BlockEntitySupplier
public net.minecraft.world.inventory.MenuType$MenuSupplier
public net.minecraft.world.inventory.MenuType <init>(Lnet/minecraft/world/inventory/MenuType$MenuSupplier;Lnet/minecraft/world/flag/FeatureFlagSet;)V

# Data generators - BlockModelGenerators / ItemModelGenerators
public net.minecraft.data.models.BlockModelGenerators <init>(Ljava/util/function/Consumer;Ljava/util/function/BiConsumer;Ljava/util/function/Consumer;)V
public net.minecraft.data.models.BlockModelGenerators blockStateOutput
public net.minecraft.data.models.BlockModelGenerators modelOutput
public net.minecraft.data.models.BlockModelGenerators delegateItemModel(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/resources/ResourceLocation;)V
public net.minecraft.data.models.BlockModelGenerators createHorizontallyRotatedBlock(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/data/models/model/TexturedModel$Provider;)V
public net.minecraft.data.models.ItemModelGenerators <init>(Ljava/util/function/BiConsumer;)V
public net.minecraft.data.models.ItemModelGenerators output
public net.minecraft.data.models.BlockModelGenerators createHorizontalFacingDispatch()Lnet/minecraft/data/models/blockstates/PropertyDispatch;
public net.minecraft.data.models.BlockModelGenerators createFacingDispatch()Lnet/minecraft/data/models/blockstates/PropertyDispatch;
public net.minecraft.data.models.ItemModelGenerators generateFlatItem(Lnet/minecraft/world/item/Item;Lnet/minecraft/data/models/model/ModelTemplate;)V